nbproject
coverage
pkg
doc
.yardoc
*.log
*.pid
.eprj
.tmtags
*~
.DS_Store
*.swp
*.lkn
.svn
RapidSVN_repository
oldrepo
target
*.tmproj
config.rb
teste.rb
teste.lua
data
examples/self_test/tmp
dados_repositorio.txt
.#*
